body {
  font-family: 'Zen Dots', cursive;
  background-color: black;
}

.page-title {
  text-align: center;
  color: rgb(148, 4, 112);
  padding: 1em;
  background-color: black;
  border-radius: 1.5em;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(83, 83, 83);
  padding: 1em;
  border-radius: 1.5em;
  font-size: 2em;
}

nav > ul > li {
  list-style-type: none;
  margin: .25em;
}

a {
  color: rgb(236, 46, 236);
}

a:visited {
  color: rgb(190, 42, 128);
}

a:hover {
  color: rgb(56, 2, 56);
}