h1 {
  color: blue;
}

.px {
  font-size: 24px; /* avoid px except for specific situations */
}

.container {
  font-size: 30px;
}

.em {
  background-color: lightblue;
  font-size: 2em;
}

.rem {
  font-size: 1rem;
}